header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 60px 40px 10px 40px;
  background-color: white; }
  header img {
    width: 150px; }
  header .menu-container {
    display: flex;
    align-items: center;
    margin-right: 40px; }
    header .menu-container .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 550px;
      margin: 0, auto;
      margin-right: 20px; }
    header .menu-container .lista {
      font-family: "mondresh-regular";
      color: black;
      font-size: 1.5rem;
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 20px;
      border-bottom: 2px solid white;
      transition: all 0.5s ease; }
    header .menu-container li:hover {
      border-bottom: #4ca04c;
      list-style-type: none; }

main .foto-principal {
  display: flex;
  max-width: 100%;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px; }

main .cuerpo {
  background-color: white;
  margin: 0 40px 0 40px; }
  main .cuerpo .titulos {
    font-family: "mondresh-regular";
    list-style-type: none;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
    flex-direction: column;
    align-items: center;
    gap: 15px; }
  main .cuerpo .parrafos {
    display: flex;
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    font-size: 18px;
    color: black;
    text-align: justify;
    flex-direction: column;
    margin: 10px 40px 0 40px;
    padding-bottom: 40px; }
  main .cuerpo .parrafos h3, main .cuerpo h2, main .cuerpo h1 {
    font-size: x-large;
    display: flex;
    margin: 20px, 0;
    padding: 10px; }

footer {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  list-style-type: none;
  font-family: "berry-slab";
  font-size: 1.8rem;
  color: black;
  font-weight: bolder;
  margin: 20px 40px 40px 40px;
  justify-content: space-between;
  background-color: white; }
  footer .algo {
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 0, auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem; }
    footer .algo .parrafo-uno {
      display: flex;
      width: 300px;
      justify-content: center;
      text-align: center; }
    footer .algo .alguito {
      display: flex;
      margin-bottom: 1rem; }
    footer .algo .alguito-uno {
      display: flex;
      margin-bottom: 1rem;
      font-weight: bolder; }
  footer .enlaces img {
    width: 50px;
    margin: 2px; }

@media (min-width: 880px) {
  .menu:hover {
    border-color: #4ca04c;
    list-style-type: none; } }

@media (max-width: 820px) {
  .menu {
    flex-direction: column;
    margin: 10px, 0;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    max-width: 200px; } }

.enlaces {
  padding: 0 60px;
  margin: 0 60px; }

@media (max-width: 400px) {
  .encabezado {
    display: flex;
    flex-direction: column; } }

@media (max-width: 880px) {
  .piedepagina {
    flex-direction: column;
    align-items: center;
    padding: 20px,0; } }

@media (max-width: 880px) and (max-width: 680px) {
  .parrafo-uno {
    display: flex;
    align-content: center;
    text-align: center; } }

@media (max-width: 880px) {
  .enlaces {
    display: flex;
    flex-direction: row;
    padding: 10px; }
  .paginas {
    padding: 10px; } }

@font-face {
  font-family: "mondresh-regular";
  src: url(../fuentes/mondresh-4368347/MondreshRegular.otf); }

@font-face {
  font-family: "berry-slab";
  src: url(../fuentes/Berry-RegularFIll.otf); }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: black; }

img {
  width: 100%; }

body {
  background-color: #d1dcd3; }

.proyectos-fotos {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0, auto;
  flex-wrap: wrap;
  padding-top: 40px;
  margin: 10px 40px;
  background-color: white; }
  .proyectos-fotos .proye-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: clamp 300px, 30%, 400px; }
    .proyectos-fotos .proye-foto .proye-imagen {
      width: 350px;
      height: 350px;
      transition: 300ms; }
  .proyectos-fotos .proye-titulo {
    font-family: "mondresh-regular";
    font-size: medium;
    justify-content: center;
    padding-top: 10px; }

.servicios {
  margin: 10px 40px;
  display: flex;
  flex-wrap: wrap;
  background-color: white; }
  .servicios .articulos-container {
    display: grid;
    grid-template-rows: repeat 6, 1fr;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin: 40px 0;
    color: black; }
    .servicios .articulos-container img {
      width: 80%;
      margin-left: 40px;
      margin-right: 40px;
      padding-top: 30px;
      align-content: center; }
    .servicios .articulos-container p {
      display: flex;
      flex-direction: column;
      margin: 20px 40px 5px 40px;
      font-family: "Verdana, Geneva, Tahoma, sans-serif";
      font-size: large;
      text-align: justify; }
      .servicios .articulos-container p span {
        font-family: "mondresh-regular";
        margin-bottom: 10px;
        font-size: large; }
  @media (max-width: 915px) {
    .servicios .articulos-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center; }
      .servicios .articulos-container p {
        margin: 20px 80px;
        max-width: 400px; }
      .servicios .articulos-container .articulos-container img {
        display: flex;
        margin-right: 40px; } }

.us {
  background-color: white;
  margin: 0 40px; }

.historia {
  font-family: "mondresh-regular";
  font-size: small;
  color: black;
  text-align: justify;
  max-width: 1200px;
  display: flex;
  padding-top: 40px;
  margin-top: 40px;
  margin: 10px 40px 0 40px;
  line-height: 30px;
  word-spacing: 4px; }
  .historia span {
    font-size: medium; }

.clientes-container {
  font-family: "mondresh-regular";
  font-size: medium;
  color: black;
  text-align: center;
  margin: 30px 0; }
  .clientes-container p {
    margin-bottom: 30px; }
  .clientes-container .grilla {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin-top: 20px;
    padding: 0 20px;
    justify-items: center; }
  @media (max-width: 768px) {
    .clientes-container .grilla {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 20px;
      padding-bottom: 40px; }
      .clientes-container .grilla .marcas {
        padding: 10px 0; } }

.contacto-container {
  background-color: white;
  margin: 10px 40px;
  font-family: "mondresh-regular";
  color: black; }
  .contacto-container .contactanos {
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 40px; }
  .contacto-container .misdatos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 80px 0; }
    .contacto-container .misdatos-container .misdatos {
      font-size: 15px;
      text-align: left; }
      .contacto-container .misdatos-container .misdatos .datos {
        display: flex;
        justify-content: center;
        margin: 25px 0; }
    .contacto-container .misdatos-container .formu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0 50px;
      gap: 3px; }
      .contacto-container .misdatos-container .formu .boton {
        background-color: #d1dcd3;
        border-radius: 5px;
        padding: 5px;
        color: black;
        font-family: "mondresh-regular"; }
  @media (max-width: 780px) {
    .contacto-container .misdatos-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; } }
