//paleta de colores
$text-color:black;
$bg-color: rgb(209, 220, 211);
$bg-color-cuadro: white;


//tamaños de fuentes

$size-title: 20px;
$size-parrafo: 18px;
$size-navbar: 1.5rem;
$size-grande: 30px;
$size-footer: 1.8rem;

//margenes

$auto: 0, auto;

//fuentes

$font-titulo: "mondresh-regular";
$font-parrafo: "Verdana, Geneva, Tahoma, sans-serif";
$font-footer: "berry-slab";

//tamaño img

$foto-central: 1200px;




