@font-face{
    font-family: "mondresh-regular";
    src:url(../fuentes/mondresh-4368347/MondreshRegular.otf);
    src:url(../fuentes/mondresh-4368347/MondreshRegular.ttf);  
}

@font-face{
    font-family: "berry-slab";
    src: url(../fuentes/Berry-RegularFIll.otf);
    src: url(../fuentes/Berry-RegularFIll.ttf);
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $text-color;
}

img{
    width: 100%;
}
body{
    background-color: rgb(209, 220, 211);
}